# виртуальное окружение
.venv/
venv/
ENV/

# файлы окружения (секреты, ключи)
.env
*.env

# база данных (локальная)
*.sqlite3
*.db

# кеши и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# системные файлы macOS
.DS_Store

# IDE
.vscode/
.idea/
